/* Blocky Font */
@font-face {
    font-family: 'PixelFont'; /* Choose a name for your font */
    src: url('assets/PixelFont.ttf') format('truetype'); /* Adjust the path and format accordingly */
    font-weight: normal;
    font-style: normal;
  }

/* Basic Page Styling */
body {
    background-color: rgb(30, 30, 30);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(200, 200, 200);
    overflow-x: hidden;

    /* Stoppint Text Highlight */
    user-select: none;
}

/* Canvas/Game Screen Styling */
#game-canvas {
    /* Border to make it look nice */
    border: 2px solid rgb(200, 200, 200);
    
    /* Centering on Screen */
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    /* Realative positioning */
    position: relative;
}
#text-box {
    box-sizing: border-box;
    padding: 10px;
    font-size: 120%;
    font-family: 'PixelFont', sans-serif;
    background-color: rgba(100, 100, 100, 0.5);
    border: 2px solid rgb(200, 200, 200);
    width: 60%;
    height: 150px;
    position: absolute; 
    top: 80%; 
    left: 200%; /* Perfectly Centered is 20% */
    z-index: 1;
}

#speaker-box {
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px;
    font-size: 140%;
    font-family: 'PixelFont', sans-serif;
    background-color: rgba(100, 100, 100, 0.5);
    border: 2px solid rgb(200, 200, 200);
    width: 20%;
    height: 50px;
    position: absolute; 
    top: 73.2%; 
    left: 200%; /* Perfectly Centered is 20% */
}